# Prequel: searching for data from ISTAT

This is a Notebook done a-posteriori where I extensively investigate which data are available from ISTAT, 
as I could not find a comprehensive list.

In [1]:
import warnings 
from istatapi import discovery, retrieval
import numpy as np
import pandas as pd
import requests

import plotly.io as pio
pio.renderers.default = 'notebook'

warnings.filterwarnings('ignore')
requests.urllib3.disable_warnings()

! pip show istatapi

Name: istatapi
Version: 1.0.0
Summary: Python API for ISTAT (The Italian National Institute of Statistics)
Home-page: https://github.com/Attol8/istatapi
Author: Jacopo Attolini
Author-email: jacopoattolini@gmail.com
License: Apache Software License 2.0
Location: /Users/danieleongari/opt/anaconda3/envs/py310/lib/python3.10/site-packages
Requires: fastcore, matplotlib, pandas, pyopenssl, requests
Required-by:

In [2]:
all_datasets = discovery.search_dataset("")
display(all_datasets)

,df_id,version,df_description,df_structure_id
0,101_1015,1.3,Crops,DCSP_COLTIVAZIONI
1,101_1030,1.0,"PDO, PGI and TSG quality products",DCSP_DOPIGP
2,101_1033,1.0,slaughtering,DCSP_MACELLAZIONI
3,101_1039,1.2,Agritourism - municipalities,DCSP_AGRITURISMO_COM
4,101_1077,1.0,"PDO, PGI and TSG products: operators - munici...",DCSP_DOPIGP_COM
...,...,...,...,...
504,97_953,1.1,Environmental protection expenditure,DCCN_SPESAPROTAMB
505,98_1066,1.0,Productivity measures - Accounts in the 2014 v...,DCCN_PRODUTTIVITA_B14
506,98_1067,1.0,Productivity measures - Accounts in the 2011 v...,DCCN_PRODUTTIVITA_B11
507,98_197,1.3,Productivity measures,DCCN_PRODUTTIVITA
508,9_951,1.3,Mining and quarrying,DCCV_CAVE_MIN

In [3]:
selected_datasets = (
    all_datasets
    .query('df_description.str.contains("population|balance|demographic|mort|births|death|fertility|life|killed", case=False)')
    .query('~df_description.str.contains("balance sheet")')
    .sort_values('df_structure_id', ascending=True)
)

count=0
for _, row in selected_datasets.iterrows():
    print(f'{count+1:2d} - v{row["version"]} {row["df_structure_id"]}  - {row["df_description"]}')
    count+=1

 1 - v1.1 DCCN_OCCNSEC2010_B14  - Regular, irregular employment and population - editions from October 2014 to April 2019
 2 - v1.1 DCCN_OCCTSEC2010_B14  - Regular, irregular employment and population - editions from October 2012 to December 2018
 3 - v1.1 DCCV_AVQ_FAMIGLIE  - Aspects of daily life - Household
 4 - v1.3 DCCV_AVQ_PERSONE  - Aspects of daily life
 5 - v1.1 DCCV_AVQ_PERSONE1  - Aspects of daily life - Persons
 6 - v1.3 DCCV_CONDGEO1  - Persons convicted by final judgement - Demographic characteristics
 7 - v1.2 DCCV_DETENUTI  - Prison population held in institutions for adults in Italy
 8 - v1.1 DCCV_DIPL_DEM_FORM  - High school graduates - socio-demographic characteristics and curriculum
 9 - v1.2 DCCV_INATTIV1  - Inactive  population
10 - v1.0 DCCV_INATTIV1_UNT2020  - Inactive  population - previous regulation (until 2020)
11 - v1.3 DCCV_INATTIVDE1  - Inactive population - quarterly seasonally adjusted data
12 - v1.0 DCCV_INATTIVDE1_UNT2020  - Inactive population - quarterly seasonally adjusted data - previous regulation (until 2020)
13 - v1.2 DCCV_INATTIVMENS1  - Inactive population  - monthly data
14 - v1.0 DCCV_INATTIVMENS1_UNT2020  - Inactive population  - monthly data- previous regulation (until 2020)
15 - v1.1 DCCV_LAU_DEM_FORM  - University graduates - Socio-demographic characteristics and curriculum
16 - v1.0 DCCV_POPTIT1  - Population 15 years and over by highest level of  education
17 - v1.0 DCCV_POPTIT1_UNT2020  - Population 15 years and over by highest level of education - previous regulation (until 2020)
18 - v1.1 DCCV_TRANSIZ_DOTT_DEM  - PhD graduates - socio-demographic characteristics and curriculum
19 - v1.0 DCCV_VIOL_CARAT  - Women who have suffered violence - demographic characteristics and habits
20 - v1.1 DCIS_ARCH_FEC  - Fertility tables by birth order
21 - v1.0 DCIS_CMORTEM  - Multiple causes of death
22 - v1.0 DCIS_CV_STRA  - Resident foreigners and life conditions
23 - v1.1 DCIS_DECESSI  - Deaths
24 - v1.0 DCIS_DIVORDEMCONG  - Divorces - Demographic characteristics 2008-2014
25 - v1.0 DCIS_DIVORDEMCONG1  - Divorces -  Demographic characteristics
26 - v1.2 DCIS_FECONDITA1  - Fertility  indicators
27 - v1.1 DCIS_INCIDMORFER_COM  - Road accidents, killed and injured - municipalities
28 - v1.4 DCIS_INDDEMOG1  - Demographic  indicators
29 - v1.1 DCIS_MORTALITA1  - Life  tables
30 - v1.1 DCIS_MORTIFERITISTR1  - Killed and injured in road accidents
31 - v1.8 DCIS_NATI1  - Live births
32 - v2.1 DCIS_POPORESBIL1  - Resident population  - balance
33 - v1.5 DCIS_POPRES1  - Resident population  on 1st January
34 - v1.5 DCIS_POPSTRBIL1  - Resident foreigners - Balance
35 - v1.0 DCIS_PREVDEM1  - Demographic projections - Years 2018-2065
36 - v1.1 DCIS_RICPOPRES2011  - Estimated resident population - Years 2002-2019
37 - v1.0 DCIS_RICSTAT  - New series of estimates on the resident population at NUTS-2 level for the 1/1/2002-1/1/2014 period
38 - v1.0 DCIS_SEPARAZDEMCONG  - Separations - Demographic characteristics 2008-2014
39 - v1.0 DCIS_SEPARAZDEMCONG1  - Separations -  Demographic characteristics
40 - v1.5 DCIS_SPOSI  - Spouses - Demographic characteristics
41 - v1.1 DCIS_SSCENT  - Semi-supercentenarian population (105 years and more)
42 - v1.0 DCIS_UNIONDEMO  - Civil partnerships-Demographic characteristics
43 - v1.0 SEP_AMBIENTE_ENER_BILENER  - Energy Balance

In [6]:
interesting_dss = ["DCIS_POPRES1", "DCIS_POPORESBIL1", "DCIS_RICPOPRES2011",  "DCIS_PREVDEM1", "DCIS_POPSTRBIL1", "DCIS_FECONDITA1", "DCIS_DECESSI"] # "DCIS_RICSTAT" failed

for ds_structure_id in interesting_dss:
    print(f"\n############ {ds_structure_id} ################################################################")
    print("Description:", all_datasets.query(f'df_structure_id == "{ds_structure_id}"').iloc[0].df_description)
    ds = discovery.DataSet(dataflow_identifier=ds_structure_id)
    ds_info = ds.dimensions_info()
    display(ds_info)
    for col in ds_info.dimension:
        print(f" >> {col}")
        display(ds.get_dimension_values(col).sort_values("values_ids").reset_index(drop=True))

############ DCIS_POPRES1 ################################################################
Description: Resident population  on 1st January

     dimension    dimension_ID     description
0         FREQ         CL_FREQ       Frequency
1          ETA         CL_ETA1       Age class
2     ITTER107     CL_ITTER107       Territory
3        SESSO    CL_SEXISTAT1          Gender
4      STACIVX     CL_STATCIV2  Marital status
5  TIPO_INDDEM  CL_TIPO_DATO15    Data type 15

 >> FREQ

  values_ids values_description
0          A             annual

 >> ETA

    values_ids  values_description
0        TOTAL               total
1           Y0             0 years
2           Y1             1 years
3          Y10            10 years
4          Y11            11 years
..         ...                 ...
97         Y96            96 years
98         Y97            97 years
99         Y98            98 years
100        Y99            99 years
101    Y_GE100  100 years and over

[102 rows x 2 columns]

 >> ITTER107

     values_ids values_description
0        001001              AgliÃ¨
1        001002            Airasca
2        001003       Ala di Stura
3        001004    Albiano d'Ivrea
4        001005    Alice Superiore
...         ...                ...
8501      ITG28           Oristano
8502      ITG29       Olbia-Tempio
8503      ITG2A          Ogliastra
8504      ITG2B    Medio Campidano
8505      ITG2C  Carbonia-Iglesias

[8506 rows x 2 columns]

 >> SESSO

  values_ids values_description
0          1              males
1          2            females
2          9              total

 >> STACIVX

  values_ids                       values_description
0          1                            never married
1         15                   same sex civil partner
2         16  widow/widower of same-sex civil partner
3         17          divorced same-sex civil partner
4          2                                  married
5          3                                 divorced
6          4                                  widowed
7         99                                    total

 >> TIPO_INDDEM

  values_ids         values_description
0        JAN  population on 1st January

############ DCIS_POPORESBIL1 ################################################################
Description: Resident population  - balance

     dimension    dimension_ID   description
0         FREQ         CL_FREQ     Frequency
1     ITTER107     CL_ITTER107     Territory
2        SESSO    CL_SEXISTAT1        Gender
3  TIPO_INDDEM  CL_TIPO_DATO15  Data type 15

 >> FREQ

  values_ids values_description
0          A             annual
1          M            monthly

 >> ITTER107

     values_ids values_description
0        001001              AgliÃ¨
1        001002            Airasca
2        001003       Ala di Stura
3        001004    Albiano d'Ivrea
4        001005    Alice Superiore
...         ...                ...
8498      ITG28           Oristano
8499      ITG29       Olbia-Tempio
8500      ITG2A          Ogliastra
8501      ITG2B    Medio Campidano
8502      ITG2C  Carbonia-Iglesias

[8503 rows x 2 columns]

 >> SESSO

  values_ids values_description
0          1              males
1          2            females
2          9              total

 >> TIPO_INDDEM

          values_ids                                 values_description
0             AVNUHM     average number of members in private household
1          AVNUHM_CP  average number of members in private household...
2                BEG          population at the beginning of the period
3          BLOTHREAS     balance for other reasons from registry office
4              DEATH                                             deaths
5             DEC_CP                        population on 31st December
6             DEREGM            deregistrations to other municipalities
7          DEREGOTHC                       emigrated to other countries
8         DEROTHREAS                  deregistrations for other reasons
9        EINTERTNMIG              estimated international net migration
10          HOUSMEMB           resident population in private household
11       HOUSMEMB_CP  resident population in private household on 31...
12            IDECTR    increase or decrease due to territorial changes
13        INTERTNMIG                        international net migration
14  INTERTNMIG_REGOF   international net migration from registry office
15        INTNETMIGR                             internal net migration
16  INTNETMIGR_REGOF        internal net migration from registry office
17            LBIRTH                                        live births
18           NETMIGR                                      net migration
19           NMIGRAT  net migration and balance for other reasons fr...
20            NTGROW                                   natural increase
21      NTGROW_REGOF              natural increase from registry office
22            NUMCOM                 number of institutional households
23         NUMCOM_CP  number of institutional households on 31st Dec...
24           NUMPRHO                       number of private households
25        NUMPRHO_CP      number of private households on 31st December
26            POPCOM     resident population in institutional household
27         POPCOM_CP  resident population in institutional household...
28            POPEND                    population at end of the period
29              REGM            registrations from other municipalities
30           REGOTHC                    immigrated from other countries
31        REGOTHREAS                    registrations for other reasons
32        STADREG_CP  statistical adjustment from new calculation me...
33            TDEREG                                    deregistrations
34          TOTBALID               total balance (increase or decrease)
35       TOTBALID_CP  total balance (natural, net migration and for ...
36      TOTCESTAD_CP                               total census balance
37              TREG                                      registrations

############ DCIS_RICPOPRES2011 ################################################################
Description: Estimated resident population - Years 2002-2019

      dimension     dimension_ID   description
0          FREQ          CL_FREQ     Frequency
1         SESSO     CL_SEXISTAT1        Gender
2     TIPO_DATO   CL_TIPO_DATO15  Data type 15
3    CLASSE_ETA          CL_ETA1     Age class
4  CITTADINANZA  CL_CITTADINANZA   Citizenship
5      ITTER107      CL_ITTER107     Territory

 >> FREQ

  values_ids values_description
0          A             annual

 >> SESSO

  values_ids values_description
0          1              males
1          2            females
2          9              total

 >> TIPO_DATO

  values_ids                           values_description
0   ACQCITIZ  foreigners who acquired Italian citizenship
1      DEATH                                       deaths
2        DEC                  population on 31st December
3     DEREGM      deregistrations to other municipalities
4  DEREGOTHC                 emigrated to other countries
5        JAN                    population on 1st January
6     LBIRTH                                  live births
7       REGM      registrations from other municipalities
8    REGOTHC              immigrated from other countries

 >> CLASSE_ETA

    values_ids  values_description
0        TOTAL               total
1           Y0             0 years
2           Y1             1 years
3          Y10            10 years
4          Y11            11 years
..         ...                 ...
97         Y96            96 years
98         Y97            97 years
99         Y98            98 years
100        Y99            99 years
101    Y_GE100  100 years and over

[102 rows x 2 columns]

 >> CITTADINANZA

  values_ids values_description
0        FRG            foreign
1        ITL            italian
2      TOTAL              total

 >> ITTER107

     values_ids values_description
0        001001              AgliÃ¨
1        001002            Airasca
2        001003       Ala di Stura
3        001004    Albiano d'Ivrea
4        001005    Alice Superiore
...         ...                ...
8498      ITG28           Oristano
8499      ITG29       Olbia-Tempio
8500      ITG2A          Ogliastra
8501      ITG2B    Medio Campidano
8502      ITG2C  Carbonia-Iglesias

[8503 rows x 2 columns]

############ DCIS_PREVDEM1 ################################################################
Description: Demographic projections - Years 2018-2065

     dimension    dimension_ID        description
0         FREQ         CL_FREQ          Frequency
1          ETA         CL_ETA1          Age class
2     INT_PREV     CL_INT_PREV  Forecast interval
3     ITTER107     CL_ITTER107          Territory
4        SESSO    CL_SEXISTAT1             Gender
5  TIPO_INDDEM  CL_TIPO_DATO15       Data type 15

 >> FREQ

  values_ids values_description
0          A             annual

 >> ETA

    values_ids  values_description
0        TOTAL               total
1           Y0              0 anni
2           Y1              1 anni
3          Y10             10 anni
4         Y100           100 years
..         ...                 ...
107        Y96            96 years
108        Y97            97 years
109        Y98            98 years
110        Y99            99 years
111    Y_GE110  110 years and over

[112 rows x 2 columns]

 >> INT_PREV

  values_ids    values_description
0  PROJLOW50  limite inferiore 50%
1  PROJLOW80  limite inferiore 80%
2  PROJLOW90  limite inferiore 90%
3    PROJMED               mediana
4  PROJUPP50  limite superiore 50%
5  PROJUPP80  limite superiore 80%
6  PROJUPP90  limite superiore 90%

 >> ITTER107

   values_ids                  values_description
0          IT                               Italy
1         ITC                          Nord-ovest
2        ITC1                            Piemonte
3        ITC2      Valle d'Aosta / VallÃ©e d'Aoste
4        ITC3                             Liguria
5        ITC4                           Lombardia
6        ITCD                                Nord
7         ITD                            Nord-est
8        ITD1  Provincia Autonoma Bolzano / Bozen
9        ITD2           Provincia Autonoma Trento
10       ITD3                              Veneto
11       ITD4               Friuli-Venezia Giulia
12       ITD5                      Emilia-Romagna
13       ITDA      Trentino Alto Adige / SÃ¼dtirol
14        ITE                          Centro (I)
15       ITE1                             Toscana
16       ITE2                              Umbria
17       ITE3                              Marche
18       ITE4                               Lazio
19        ITF                                 Sud
20       ITF1                             Abruzzo
21       ITF2                              Molise
22       ITF3                            Campania
23       ITF4                              Puglia
24       ITF5                          Basilicata
25       ITF6                            Calabria
26       ITFG                         Mezzogiorno
27        ITG                               Isole
28       ITG1                             Sicilia
29       ITG2                            Sardegna

 >> SESSO

  values_ids values_description
0          1             maschi
1          2            femmine
2          9             totale

 >> TIPO_INDDEM

     values_ids                                 values_description
0      AGEINDEX  ageing index (percentage values) - on 1st January
1           BEG                         popolazione inizio periodo
2     BIRTHRATE               birth rate (per thousand inhabitant)
3         DEATH                                              morti
4     DEATHRATE               death rate (per thousand inhabitant)
5    DEPENDRATE  indice di dipendenza strutturale (valori perce...
6     DEREGOTHC                            cancellati per l'estero
7       DEROTHR                       cancellati per altre regioni
8    EMIABRRATE  tasso emigratorio per l'estero (per mille abit...
9    EMIINTRATE  tasso emigratorio per l'interno (per mille abi...
10  GROWTHRATEN          natural balance (per thousand inhabitant)
11  GROWTHRATET              growth rate (per thousand inhabitant)
12   IMMABRRATE  tasso immigratorio dall'estero (per mille abit...
13   IMMINTRATE  tasso immigratorio dall'interno (per mille abi...
14   INTERTNMIG                            saldo migratorio estero
15   INTNETMIGR                           saldo migratorio interno
16          JAN                          popolazione al 1  gennaio
17       LBIRTH                                          nati vivi
18    LIFEEXP0F                 life expectancy at birth - females
19    LIFEEXP0M                   life expectancy at birth - males
20   LIFEEXP65F                    life expectancy at 65 - females
21   LIFEEXP65M                      life expectancy at 65 - males
22     MEANAGEP        mean age of the population - on 1st January
23   NMIGRATEAB  net migration rate from abroad (per thousand i...
24   NMIGRATEIN  net migration rate due to internal migration (...
25       NTGROW                                     saldo naturale
26   OLDAGEDEPR  old age dependency ratio (percentage values) -...
27       POP014  population aged 0-14 (percentage values) - on ...
28      POP1564  population aged 15-64 (percentage values) - on...
29    POP65OVER  population aged 65 and over (percentage values...
30    POP85OVER  population aged 85 and over (percentage values...
31      REGOTHC                               iscritti dall'estero
32      REGOTHR                          iscritti da altre regioni
33          TFR                         total fertility rate - TFR
34     TMIGRATE     total migration rate (per thousand inhabitant)
35      TMIGRBL                            saldo migratorio totale
36     TOTBALID             saldo totale (incremento o decremento)

############ DCIS_POPSTRBIL1 ################################################################
Description: Resident foreigners - Balance

     dimension    dimension_ID   description
0         FREQ         CL_FREQ     Frequency
1     ITTER107     CL_ITTER107     Territory
2        SESSO    CL_SEXISTAT1        Gender
3  TIPO_INDDEM  CL_TIPO_DATO15  Data type 15

 >> FREQ

  values_ids values_description
0          A             annual

 >> ITTER107

     values_ids values_description
0        001001              AgliÃ¨
1        001002            Airasca
2        001003       Ala di Stura
3        001004    Albiano d'Ivrea
4        001005    Alice Superiore
...         ...                ...
8498      ITG28           Oristano
8499      ITG29       Olbia-Tempio
8500      ITG2A          Ogliastra
8501      ITG2B    Medio Campidano
8502      ITG2C  Carbonia-Iglesias

[8503 rows x 2 columns]

 >> SESSO

  values_ids values_description
0          1              males
1          2            females
2          9              total

 >> TIPO_INDDEM

      values_ids                                 values_description
0       ACQCITIZ        foreigners who acquired Italian citizenship
1      EFINTNMIG  estimated foreign population international net...
2        FBLOTHR       foreign population balance for other reasons
3         FDEATH                                     foreign deaths
4           FDEC                foreign population on 31st December
5        FDEC_CP      foreign population on 31st December by census
6        FDEREGM    foreign deregistrations to other municipalities
7      FDERGOTHC         foreign deregistrations to other countries
8       FDEROTHR          foreign deregistrations for other reasons
9      FHOUSMEMB   foreign resident population in private household
10  FHOUSMEMB_CP  foreign resident population in private househo...
11       FIDECTR  foreign increase or decrease due to territoria...
12      FINTNMIG     foreign population international net migration
13    FINTRNMIGR          foreign population internal net migration
14          FJAN                  foreign population on 1st January
15       FLBIRTH                                foreign live births
16        FNATGR                foreign population natural increase
17       FNETMIG                   foreign population net migration
18      FNMIGRAT  foreign population net migration and balance f...
19       FPOPCOM  foreign resident population in institutional h...
20    FPOPCOM_CP  foreign resident population in institutional h...
21         FREGM    foreign registrations from other municipalities
22      FREGOTHC         foreign registrations from other countries
23      FREGOTHR            foreign registrations for other reasons
24   FREGSTAD_CP  foreign-statistical adjustment from new calcul...
25  FTOCESTAD_CP     foreigners-total census statistical adjustment
26       FTOTBAL  foreign population total balance (increase or ...
27    FTOTBAL_CP  foreign population total balance (natural, net...
28       TFDEREG                            foreign deregistrations
29         TFREG                              foreign registrations

############ DCIS_FECONDITA1 ################################################################
Description: Fertility  indicators

      dimension     dimension_ID   description
0          FREQ          CL_FREQ     Frequency
1  CITTADINANZA  CL_CITTADINANZA   Citizenship
2     ETA_MADRE          CL_ETA1     Age class
3      ITTER107      CL_ITTER107     Territory
4     TIPO_DATO   CL_TIPO_DATO15  Data type 15

 >> FREQ

  values_ids values_description
0          A             annual

 >> CITTADINANZA

  values_ids values_description
0        FRG        straniero-a
1        ITL         italiano-a
2      TOTAL             totale

 >> ETA_MADRE

   values_ids values_description
0       TOTAL              total
1         Y18           18 years
2         Y19            19 anni
3         Y20           20 years
4         Y21           21 years
5         Y22           22 years
6         Y23           23 years
7         Y24           24 years
8         Y25           25 years
9         Y26            26 anni
10        Y27            27 anni
11        Y28           28 years
12        Y29            29 anni
13        Y30           30 years
14        Y31           31 years
15        Y32           32 years
16        Y33           33 years
17        Y34           34 years
18        Y35           35 years
19        Y36           36 years
20        Y37           37 years
21        Y38           38 years
22        Y39           39 years
23        Y40           40 years
24        Y41           41 years
25        Y42           42 years
26        Y43            43 anni
27        Y44           44 years
28        Y45           45 years
29        Y46            46 anni
30        Y47           47 years
31        Y48           48 years
32        Y49           49 years
33     Y_GE50  50 years and over
34     Y_UN17     until 17 years

 >> ITTER107

    values_ids     values_description
0           IT                  Italy
1        IT108  Monza e della Brianza
2        IT109                  Fermo
3        IT110  Barletta-Andria-Trani
4        IT111           Sud Sardegna
..         ...                    ...
134      ITG28               Oristano
135      ITG29           Olbia-Tempio
136      ITG2A              Ogliastra
137      ITG2B        Medio Campidano
138      ITG2C      Carbonia-Iglesias

[139 rows x 2 columns]

 >> TIPO_DATO

  values_ids                  values_description
0       ASFR         age-specific fertility rate
1     FAVACH  father's average age at childbirth
2     MAVACH  mother's average age at childbirth
3    TOTFERR                total fertility rate

############ DCIS_DECESSI ################################################################
Description: Deaths

       dimension      dimension_ID         description
0           FREQ           CL_FREQ           Frequency
1            ETA           CL_ETA1           Age class
2   PAESE_CITTAD            CL_ISO         Geopolitics
3       ITTER107       CL_ITTER107           Territory
4     PAESE_NASC          CL_PAESI             Country
5          SESSO      CL_SEXISTAT1              Gender
6      STATO_CIV       CL_STATCIV2      Marital status
7      TIPO_DATO    CL_TIPO_DATO15        Data type 15
8  TITOLO_STUDIO  CL_TITOLO_STUDIO  Level of education

 >> FREQ

  values_ids values_description
0          A             annual

 >> ETA

   values_ids values_description
0       TOTAL              total
1      Y10-14        10-14 years
2      Y15-19        15-19 years
3      Y20-24        20-24 years
4      Y25-29        25-29 years
5      Y30-34        30-34 years
6      Y35-39        35-39 years
7      Y40-44        40-44 years
8      Y45-49        45-49 years
9        Y5-9          5-9 years
10     Y50-54        50-54 years
11     Y55-59        55-59 years
12     Y60-64        60-64 years
13     Y65-69        65-69 years
14     Y70-74        70-74 years
15     Y75-79        75-79 years
16     Y80-84        80-84 years
17     Y85-89        85-89 years
18     Y90-94        90-94 years
19     Y_GE95  95 years and over
20      Y_UN4      until 4 years

 >> PAESE_CITTAD

  values_ids                                 values_description
0     EUPFPM  Countries with a strong migratory pressure of ...
1      EUPSA                Developed country of European Union
2        EUR                                             Europe
3         IT                                              Italy
4       PFPM  Countries with a strong migratory pressure of ...
5        PSA          Developed country of extra European Union
6      TOTAL                                              Total
7      WORLD                         All countries of the world

 >> ITTER107

    values_ids     values_description
0           IT                  Italy
1        IT108  Monza e della Brianza
2        IT109                  Fermo
3        IT110  Barletta-Andria-Trani
4        IT111           Sud Sardegna
..         ...                    ...
136      ITG28               Oristano
137      ITG29           Olbia-Tempio
138      ITG2A              Ogliastra
139      ITG2B        Medio Campidano
140      ITG2C      Carbonia-Iglesias

[141 rows x 2 columns]

 >> PAESE_NASC

  values_ids                                 values_description
0         IT                                              Italy
1      X1033                                              Mondo
2      X1045                Developed country of European Union
3      X1046  Countries with a strong migratory pressure of ...
4      X1047          Developed country of extra European Union
5      X1048  Countries with a strong migratory pressure of ...

 >> SESSO

  values_ids values_description
0          1              males
1          2            females
2          9              total

 >> STATO_CIV

  values_ids values_description
0          1      never married
1         12  legally separated
2          2            married
3          3           divorced
4          4            widowed
5         98               n.a.
6         99              total

 >> TIPO_DATO

     values_ids                                 values_description
0         DEATH                                             deaths
1     DEATHRATE               death rate (per thousand inhabitant)
2  DEATHRATEAGE  age-specific daeth rate (per thousand inhabitant)
3    LEXISPOINT                                        lexis point
4      LIFEEXP0                           life expectancy at birth
5     LIFEEXP65                              life expectancy at 65
6     LIFEEXP85                              life expectancy at 85
7     MEANAGEDH                                  mean age at death
8   PROBDEATH0Y                     probability of death at 0 year

 >> TITOLO_STUDIO

  values_ids                                 values_description
0          3  primary school certificate, no educational degree
1          4                 lower secondary school certificate
2         44                       first degree (new programme)
3         48  long university degree (old programme), long d...
4         57  with post-university specialization or  post-d...
5          7                           upper and post secondary
6         99                                              total

## Conclusions
- `DCIS_POPRES1`
- `DCIS_POPORESBIL1`
- `DCIS_RICPOPRES2011`
- `DCIS_PREVDEM1`
- `DCIS_POPSTRBIL1`
- `DCIS_FECONDITA1`
- `DCIS_DECESSI`